*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  height: 100vh;
  background-color: #000;
  background-image: url('./images/Background.webp');
  background-size: cover;
  background-position: center;
}
.navbar ul li{
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
.navbar a:hover{
  color: orange;
}

/* header */
header{
  position: relative;
  padding : 0 2rem;
}
.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .links{
  display: flex;
  gap: 2rem;
}
.navbar .toggle_btn{
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.contact-btn{
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.contact-btn:hover{
  scale: 1.05;
  color: #fff;
}
.contact-btn:active{
  scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
  height: 240px;
}
.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu li a{
  list-style: none;
  color: #fff;
}

.dropdown_menu .contact-btn{
  width: 100%;
  display: flex;
  justify-content: center;
}

/* container*/
.container{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.portraitImg img{
  height: 92px;
  margin: 10px 0;
  cursor: pointer;
  display: block;
  opacity: .6;
}
.portraitImg img:hover{
  opacity: 1;
}
.portraitImg{
  float: left;
}
.portraitImg{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.img-container img{
  height: 500px;
  border-radius: 15px;
}
.img-container {
  float: right;
  padding: 10px;
}

/* reponsive */ 

@media(max-width: 800px){
  .navbar .links, 
  .navbar .contact-btn{
    display: none;
  }
  .navbar .toggle_btn{
    display: block;
  }
  .dropdown_menu{
    display: block;
    margin-left: 15em;
  }
}

@media (max-width: 576px){
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
}