/* Couleurs prédéfinies */
:root {
    --couleur-fond: #333;
    --couleur-texte: #fff;
    --couleur-lien-survol: #ff1100;
  }
  *{
    margin: 0;
    padding: 0;
    background: url(.\images\background.jpg);
  }

  /* NAV BAR */
.navbar {
    background-color: var(--couleur-fond);
}
.navbar .container{
  width: 100%;
}

.navbar .nav-link {
    color: var(--couleur-texte);
}

.navbar .nav-link:hover {
    color: var(--couleur-lien-survol);
}

  